/* FOOTER BASE */
.footer {
  background-color: var(--color-bg-accent);
  color: var(--color-text-primary);
  font-family: var(--font-title);
  border-top: 2px solid var(--color-border);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
}

.footer-seccion {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

/* CONTENEDOR ICONOS */
.contactame {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* LINKS */
.contactame a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ICONOS */
.contactame a img {
  width: 50px;
  height: 50px;
  transition: transform 0.9s ease, opacity 0.9s ease;
  opacity: 0.8;
}

.card-footer:hover .contactame a img {
  transition-delay: 0.15s;
}

/* HOVER ICONOS */
.contactame a:hover img {
  transform: scale(1.2);
}
