/*------------------Home----------------*/
.home-inicio {
  width: 100%;
  padding: 4rem 1.5rem;
  background: var(--color-bg-secondary);
  animation: fadeIn 1s ease forwards;
}

.inicio-content {
  max-width: 850px;
  margin: 0 auto;
}

.inicio-content h1 {
  font-family: var(--font-title);
  font-size: 3.5rem;
  color: var(--color-text-primary);
  margin-bottom: 1rem;
}

.inicio-subtitle {
  font-family: var(--font-main);
  font-size: 1.1rem;
  color: var(--color-text-secondary);
  line-height: 1.6;
  animation: fadeInScale 0.8s ease forwards;
}

/* ============================
   SECCIÓN — ¿QUÉ ES EL YOGA?
=============================== */
.que-es-yoga {
  padding: 4rem 1.5rem;
  background: var(--color-bg-main);
}

.section-title {
  font-family: var(--font-title);
  font-size: 3rem;
  color: var(--color-text-primary);
  margin-bottom: 1rem;
  animation: fadeIn 0.7s ease forwards;
}

.section-description {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: var(--color-text-secondary);
  line-height: 1.7;
  margin-bottom: 3rem;
}

.beneficios-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  padding: 1rem 0;
}

.beneficio-card {
  background: var(--color-bg-secondary);
  padding: 1.7rem;
  border-radius: 18px;
  box-shadow: var(--shadow-card);
  text-align: left;
  animation: fadeInScale 0.6s ease forwards;
}

.beneficio-card h3 {
  font-family: var(--font-main);
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  color: var(--color-text-primary);
}

.beneficio-card p {
  font-size: 0.95rem;
  color: var(--color-text-secondary);
  line-height: 1.5;
}

/* ============================
   SECCIÓN — TESTIMONIOS
=============================== */
.testimonios {
  padding: 4rem 1.5rem;
  background: var(--color-bg-secondary);
}

.testimonios-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 2.5rem auto 0 auto;
}

.testimonio-card {
  background: var(--color-bg-main);
  padding: 1.5rem;
  border-radius: 18px;
  box-shadow: var(--shadow-card);
  animation: fadeInScale 0.7s ease forwards;
  text-align: left;
}

.testimonio-text {
  font-size: 1rem;
  color: var(--color-text-secondary);
  font-family: var(--font-main);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.testimonio-user {
  font-size: 0.95rem;
  color: var(--color-text-primary);
  font-weight: bold;
  font-family: var(--font-main);
}
/*------------------Consejos----------------*/

.carta-box {
  margin: 100px;
  width: 200px;
  height: 250px;
  position: relative;
  perspective: 1000px;
}

.carta-box:hover .carta {
  transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.cara {
  width: 200px;
  height: 250px;
  position: absolute;
  backface-visibility: hidden;
}

.cara.detras {
  width: 200px;
  height: 250px;
  transform: rotateY(180deg);
}
