.horario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* iframe del calendario */
.horario-container iframe {
  width: 90%;
  height: 65vh;        
  border-radius: 16px;
}

/* Botones */
.btn-calendar {
  margin: 1rem 0 2rem 0;
  padding: 0.75rem 2.2rem;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 999px;
  border: 1px solid var(--color-border);
  background-color: transparent;
  color: var(--color-text-primary);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Hover */
.btn-calendar:hover {
  background-color: var(--color-bg-accent);
  color: #ffffff;
  transform: translateY(-2px);
}

.btn-calendar:active {
  transform: scale(0.96);
}

/* Respovsive */
@media (max-width: 768px) {
  .horario-container iframe {
    width: 100%;
    height: 70vh;
  }

  .btn-calendar {
    padding: 5px;
    width: 90%;
    text-align: center;
  }
}

