/* Contenedor general: grid responsivo */
.accesorio-grid {
  display: flex;
  min-width: 150px;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

/* Tarjeta */
.card {
  max-width: 500px;
  height: auto;
  max-height: 500px;
  background: #ffffff;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  border: 2px solid #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.datos{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  
}
/* Imagen */
.card img {
  width: 100%;
  height: 180px;
  object-fit: fill;
  border-radius: 8px;
}

/* Título */
.card h2 {
  font-size: 1.3rem;
  margin-bottom: 6px;
  color: #333;
  text-align: center;
}

/* Texto general */
.card p,
.card li {
  font-size: 0.95rem;
  color: #444;
  margin: 4px 0;
}

/* Rareza con colores */
.rareza-comun {
  color: #6c757d;
}
.rareza-raro {
  color: #007bff;
}
.rareza-epico {
  color: #9b59b6;
}
.rareza-legendario {
  color: #e67e22;
}

/* Sección de requisitos */
.card ul {
  padding-left: 18px;
  margin-top: 4px;
}

.filtros {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.filtro-categorias button {
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  border: none;
  background: #eee;
  cursor: pointer;
}

.filtro-categorias .activo {
  background: #7fb3a6;
  color: white;
}

.filtro-rareza select {
  padding: 0.4rem;
  border-radius: 8px;
}

